<form action="/form/{{ form_key }}/save" method="post">
    <p>
        <label><input type="radio" name="form_field_1" value="Option 1" /> Option 1</label><br />
        <label><input type="radio" name="form_field_1" value="Option 2" /> Option 2</label><br />
        <label><input type="radio" name="form_field_1" value="Option 3" /> Option 3</label><br />
        <label><input type="radio" name="form_field_1" value="Option 4" /> Option 4</label><br />
        <label><input type="radio" name="form_field_1" value="Option 5" /> Option 5</label><br />
    </p>
    <p>
        <input type="submit" value="Save Form" />
    </p>
</form>
